<h1 class="show__title"><%= @movie.title %></h1>

<div class="movie__container">
    <img src="<%= @movie.image%>" alt="">
    <p><%= @movie.body %></p>
</div>

<ul>
    <li><%= link_to "Edit", edit_movie_path(@movie) %></li>
    <li><%= link_to "Destroy", movie_path(@movie), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                } %></li>
</ul>

<h2>reviews</h2>
<%= render @movie.reviews %>

<%= render 'reviews/form' %>
