<h1><%= @movie.title %></h1>

<p><%= @movie.body %></p>

<ul>
    <li><%= link_to "Edit", edit_movie_path(@movie) %></li>
    <li><%= link_to "Destroy", movie_path(@movie), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                } %></li>
</ul>

<h2>reviews</h2>
<%= render @movie.reviews %>

<%= render 'reviews/form' %>
